@{
    ViewBag.Title = "Want to know more about me?";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p> This page will be constantly updated as I live and experience new things.</p><br/>
<p> Hi once again, let me introce myself a bit better (since you are visiting this page I might aswell do that, right?)</p><br/>
<p> My full name is Alberto Pighi, I am currently 21 years old and have graduated from the ITIS G. Marconi this July in computer informatics.</p><br />
<p> I love coding and technology in general, as my studying course would let imagine. Other than coding I also enjoy building things, like <br />
homemade furniture, little robots, mechanical stuff, contraptions and/or generally speaking anything that could give work to my hands (I love crafting aswell).</p><br />
<p> For now this will be it but later I will provide more informations for you to enjoy!(or not?)</p><br />