@{
    ViewBag.Title = "Hit me up? ;)";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Via Cason 17/b<br />
    Verona, VR, Italy<br />
    Home Phone: 0458903212<br />
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:pighialberto@gmail.com">pighialberto@gmail.com</a><br />
    <strong>Mobile:</strong>   3493371446<br />
</address>