@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome</h1>
    <p class="lead">I am Alberto Pighi and this is my homepage, feel free to browse it as much as you want to!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About this website</h2>
        <p>
            This website is for the time  being just a test for i am trying to get used to c# (sorry about the mess?).
        </p>
    </div>
    <div class="col-md-4">
        <h2>Random FAQ</h2>
        <p>Q1) Do you make websites? A1) What is this thing you are browsing? A mixtape? Qx) more questions will be added soon.</p>
    </div>
    <div class="col-md-4">
        <h2>Why Github?</h2>
        <p>Why not? I mean, there are websites that ask for money and give you privacy and stuff but I am just trying out c#, nothing to hide(for now).</p>
    </div>
</div>